---
layout: page
title: Blog - Categories
permalink: /blog/categories/
sitemap:
  lastmod: 2017-07-31
  changefreq: weekly
  priority: 0.8
---

<div class="row">
  <div class="col-sm-12 text-center">
    {% for tag in site.categories %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% unless forloop.last %} | {% endunless %}
    {% endfor %}
  </div>
</div>
<hr/>
<div class="row">

  {% for tag in site.categories %}
    <div class="col-sm-6">
      <h4 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h4>
      <ul>
        {% for post in tag[1] %}
          
        <li>
          <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
          <small class="post-date">{{ post.date | date_to_string }}</small>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
</div>